<footer class="footer">
	<div class="container">
		<div class="footer_text">ООО «Витрум плюс», УНП 691140114</div>
		<div class="footer_text">ООО «Сладавита», УНП 192526690</div>
		<a href="https://www.instagram.com/alenavski">Разработка сайта AlenCorp</a>
	</div>
</footer>