<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="wigth=device-width, initial-scale=1">
	<link rel="stylesheet" href="CSS/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Pacifico&display=swap" rel="stylesheet">
	<title>CakesBY</title>
</head>
<body>

<header class="header">
	<div class="container">
		<div class="header_inner">
			<div class="header_logo">CakesBY</div>
		
			{% include 'navigation.twig' with {
				'active_name':"Главная",
				'item1':"Assortiment.php",
				'item2':"About.php",
				'item3':"Contacts.php",
				'item4':"Cart.php",
				'not_act4':"Корзина",
				'not_act1':"Ассортимент",
				'not_act2':"О компании",
				'not_act3':"Контакты"}
			%}
		</div>
	</div>
</header>

<div class="intro">
	<div class="container">
		{% include 'intro.twig' with {
			'subtitle':"Сделай свою жизнь слаще",
			'title':"Кондитерская \"FROM THE HEART\"",
			'btn':"О компании"}
		%}
	</div>
</div>

<section class="section">
	<div class="container">
		{% include 'section_title.twig' with {
			'title':"Ассортимент"}
		%}
		
		<div class="Assortiment">
			{% include 'assortiment_item.twig' with {
				'img':"Images/vesovaya.jpg",
				'text':"Весовые кондитерские изделия"}
			%}
			
			{% include 'assortiment_item.twig' with {
				'img':"Images/fasovka.jpg",
				'text':"Фасованные кондитерские изделия"}
			%}

			{% include 'assortiment_item.twig' with {
				'img':"Images/bakaleya.jpg",
				'text':"Кондитерские изделия на заказ"}
			%}			
		</div>
	</div>
</section>

<div class="statistics">
	<div class="container">
		<div class="stat">
		
			{% include 'st_item.twig' with {
				'dig':"2",
				'txt':"Года работы"}
			%}	
			
			{% include 'st_item.twig' with {
				'dig':"1666",
				'txt':"Счастливых клиентов"}
			%}	
	
			{% include 'st_item.twig' with {
				'dig':"15",
				'txt':"Полученных наград"}
			%}	
			
			{% include 'st_item.twig' with {
				'dig':"23",
				'txt':"Поставщика"}
			%}
			
			{% include 'st_item.twig' with {
				'dig':"8",
				'txt':"мая я это делала"}
			%}
			 
		</div>
	</div>
</div>

<section class="section">
	<div class="container">	
		{% include 'section_title.twig' with {
			'title':"Новости"}
		%}
		
		<div class="blog">
			{% include 'blog_item.twig' with {
				'img':"Images/forclients.jpg",
				'day':"8",
				'month':"Мая",
				'title':"Lorem ipsum dolor sit amet",
				'text':"Lorem ipsum dolor sit amet, consectetur 
					adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
					'dolore magna aliqua.Ut enim ad minim veniam, quis nostrud 
					exercitation ullamco laboris nisi ut aliquip ex ea commodo 
					consequat."}
			%}

			{% include 'blog_item.twig' with {
				'img':"Images/forcarriers.jpg",
				'day':"6",
				'month':"Мая",
				'title':"de Finibus Bonorum et Malorum",
				'text':"Lorem ipsum dolor sit amet, consectetur 
					adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
					'dolore magna aliqua.Ut enim ad minim veniam, quis nostrud 
					exercitation ullamco laboris nisi ut aliquip ex ea commodo 
					consequat."}
			%}
			
			{% include 'blog_item.twig' with {
				'img':"Images/forproviders.jpg",
				'day':"3",
				'month':"Мая",
				'title':"1914 translation by H. Rackham",
				'text':"Lorem ipsum dolor sit amet, consectetur 
					adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
					'dolore magna aliqua.Ut enim ad minim veniam, quis nostrud 
					exercitation ullamco laboris nisi ut aliquip ex ea commodo 
					consequat."}
			%}
			
		</div>
	</div>
</section>

{% include 'footer.twig' %}


</body>
</html>